streamlit
colorama
pandas
loguru
pinecone-client
pinecone
ragatouille
llama-index
llama-hub
pypdf
llama-index-core
pdfplumber
langchain-pinecone
langchain-openai
langchain-experimental
gspread
st-gsheets-connection
google-auth
pandas
seaborn
matplotlib
weave
tiktoken
